@import "litir.scss";
/* Breytur */
$null: 0;


/* Efnisyfirlit í topnav */

.topmenu {
  margin: $null;
  padding: $null;
  list-style-type: none;
}

.topmenu li {
  padding: 2.5px 0 2.5px 0;
}

.topmenu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: .4em 2em;

}

.topmenu li:hover {
  animation-name: test;
  animation-duration: .3s;
  transition: all .4s ease;
  background-color: $appelsinugulur;
  a {
    color: $brunn2;
  }
}

@keyframes test {
  0% {
    background-color: darken($appelsinugulur, 10%);
  }
  50% {
    background-color: lighten($appelsinugulur, 10%);
  }
  100% {
    background-color: $appelsinugulur;
  }
}
