/* Litir */

$appelsinugulur: #ffbf0f;     //bakgrunnur af header
$brunn: #705d3a;              //Litur fyrir texta
$brunn2: #7d663f;             //bakgrunnslitur i footer og topnav
$hudlitur: #ffeac8;           //Notaður i vinstri1, vinstri2 og haegri
